/* line 14, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/variables.scss */
.trans, .navbar ul li a, .navbar ul li a:after, #sectors ul li.sector-item a, #sectors ul li.sector-item a .top-icon, #sectors ul li.sector-item a .circle i, #sectors ul li.sector-item a .circle:after, #sectors ul li.sector-item a:hover .circle, #sectors ul li.sector-item a:hover .top-icon, #horario #horario_especial i, #horario #horario_especial a, #horario #horario_especial a span, #footer ul li a, #footer ul li a i, #conoce_page p a:hover, #instalaciones_page #instalaciones_slider #bx-pager a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* line 3, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
body {
  background: #FFFFFF;
  font-family: "Montserrat", sans-serif; }

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
.navbar {
  background: #FFFFFF;
  border: none; }
  /* line 12, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  .navbar #logo img {
    width: 180px; }
  /* line 17, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  .navbar ul li {
    margin: 0 5px; }
    /* line 19, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    .navbar ul li a {
      font-size: 20px;
      font-size: 2rem;
      color: #372114 !important;
      border-bottom: 3px solid transparent; }
      /* line 25, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      .navbar ul li a:after {
        content: "";
        width: 50px;
        height: 2px;
        background: #FFE0B5;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px); }
      /* line 36, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      .navbar ul li a:hover:after {
        width: 100px;
        left: calc(50% - 50px);
        background: #372114; }
    /* line 45, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    .navbar ul li.active a {
      background: none !important;
      font-weight: 700; }
      /* line 48, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      .navbar ul li.active a:after {
        width: 100px;
        left: calc(50% - 50px);
        background: #372114; }
  /* line 58, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  .navbar #navbar {
    float: right;
    margin-top: 40px; }

/* line 64, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#main-banner {
  height: 500px;
  overflow: hidden; }
  /* line 67, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner .container-fluid {
    padding: 0; }
  /* line 71, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner #slider .bx-wrapper, #main-banner #slider .bx-viewport {
    max-height: 500px; }
  /* line 75, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner #slider .bx-wrapper .bx-pager {
    bottom: 20px; }
  /* line 78, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner #slider .bx-wrapper .bx-caption {
    width: 40%;
    bottom: 90px;
    background: rgba(55, 33, 20, 0.85); }
    /* line 82, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #main-banner #slider .bx-wrapper .bx-caption span {
      font-family: "Pacifico", cursive;
      font-size: 25px;
      font-size: 2.5rem; }
  /* line 88, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner #slider .bx-wrapper .bx-viewport {
    box-shadow: none;
    left: 0;
    border: 0; }
  /* line 96, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner #slider .bx-wrapper .bx-controls .bx-pager-item a {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #FFFFFF; }
    /* line 101, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #main-banner #slider .bx-wrapper .bx-controls .bx-pager-item a.active {
      background: #372114; }
  /* line 108, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #main-banner #slider ul {
    margin: 0;
    padding: 0;
    display: block; }
    /* line 112, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #main-banner #slider ul li {
      position: relative;
      height: 500px;
      display: block; }
      /* line 116, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #main-banner #slider ul li figure {
        height: 100%; }
        /* line 118, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #main-banner #slider ul li figure img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

/* line 129, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#testimonials {
  min-height: 200px;
  text-align: center;
  background: #FFFFFF;
  position: relative;
  padding: 40px 0; }
  /* line 135, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #testimonials #testimonial-container {
    padding: 30px 100px;
    position: relative;
    color: #5c3722; }
    /* line 139, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #testimonials #testimonial-container:before {
      content: "";
      width: 50px;
      height: 35px;
      background-image: url("../img/quotes.png");
      background-size: 70px 70px;
      display: block;
      position: absolute;
      left: 50px;
      top: 20px;
      opacity: 0.65; }
    /* line 151, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #testimonials #testimonial-container:after {
      content: "";
      width: 50px;
      height: 35px;
      display: block;
      position: absolute;
      right: 50px;
      bottom: 10px;
      background-image: url("../img/quotes.png");
      background-size: 70px 70px;
      background-position: 50px 35px;
      opacity: 0.65; }
    /* line 164, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #testimonials #testimonial-container h2 {
      font-family: "Pacifico", cursive;
      font-size: 35px;
      font-size: 3.5rem; }

/* line 173, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#sectors {
  background: #FFFFFF;
  text-align: center;
  padding: 50px 0; }
  /* line 177, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #sectors ul {
    margin: 0;
    padding: 0; }
    /* line 180, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #sectors ul li.sector-item {
      width: calc(100% / 4 - 5px);
      display: inline-block;
      text-align: center; }
      /* line 184, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #sectors ul li.sector-item a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative; }
        /* line 191, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #sectors ul li.sector-item a .top-icon {
          font-size: 70px;
          color: #372114;
          position: absolute;
          top: -75px;
          left: 105px;
          opacity: 0; }
        /* line 201, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #sectors ul li.sector-item a article h2 {
          color: #372114; }
        /* line 205, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #sectors ul li.sector-item a .circle {
          width: 200px;
          height: 200px;
          position: relative;
          border: 5px solid #372114;
          border-radius: 100%;
          margin-left: calc((100% - 200px) / 2);
          overflow: hidden; }
          /* line 213, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
          #sectors ul li.sector-item a .circle i {
            font-size: 70px;
            color: #372114;
            position: relative;
            z-index: 2;
            padding-top: 60px; }
          /* line 222, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
          #sectors ul li.sector-item a .circle:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #FFFFFF;
            border-radius: 100%;
            z-index: 1; }
        /* line 236, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #sectors ul li.sector-item a:hover {
          text-decoration: none; }
          /* line 238, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
          #sectors ul li.sector-item a:hover .circle {
            background-width: 200px;
            background-height: 200px; }
            /* line 244, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
            #sectors ul li.sector-item a:hover .circle i {
              opacity: 0; }
            /* line 247, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
            #sectors ul li.sector-item a:hover .circle:after {
              opacity: 0; }
          /* line 251, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
          #sectors ul li.sector-item a:hover .top-icon {
            font-size: 70px;
            color: #372114;
            position: absolute;
            top: -80px;
            left: 105px;
            opacity: 1; }
    /* line 266, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #sectors ul li.sector-item:nth-child(1) a .circle {
      background: url(../img/sector1.jpg);
      background-size: 200px 200px; }
    /* line 274, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #sectors ul li.sector-item:nth-child(2) a .circle {
      background: url(../img/sector2.jpg);
      background-size: 200px 200px; }
    /* line 282, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #sectors ul li.sector-item:nth-child(3) a .circle {
      background: url(../img/sector3.jpg);
      background-size: 200px 200px; }
    /* line 290, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #sectors ul li.sector-item:nth-child(4) a .circle {
      background: url(../img/sector4.jpg);
      background-size: 200px 200px; }

/* line 299, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#gallery {
  min-height: 250px;
  padding-top: 50px; }
  /* line 303, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #gallery #gallery_container .bx-wrapper, #gallery #gallery_container .bx-viewport {
    max-height: 250px; }
  /* line 307, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #gallery #gallery_container .bx-wrapper .bx-pager {
    bottom: 20px; }
  /* line 310, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #gallery #gallery_container .bx-wrapper .bx-viewport {
    box-shadow: none;
    left: 0;
    border: 0; }
  /* line 318, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #gallery #gallery_container .bx-wrapper .bx-controls .bx-pager-item a {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #FFFFFF; }
    /* line 323, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #gallery #gallery_container .bx-wrapper .bx-controls .bx-pager-item a.active {
      background: #372114; }
  /* line 330, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #gallery #gallery_container ul {
    margin: 0;
    padding: 0; }
    /* line 333, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #gallery #gallery_container ul li {
      margin: 0;
      margin-right: 0 !important; }
      /* line 337, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #gallery #gallery_container ul li figure img {
        width: 100%;
        height: 250px;
        object-fit: cover; }

/* line 348, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#horario {
  padding: 20px 60px; }
  /* line 350, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #horario #horario_general {
    text-align: center; }
    /* line 352, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #horario #horario_general i {
      font-size: 100px;
      font-size: 10rem;
      color: #A0A0A0;
      text-align: center; }
    /* line 358, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #horario #horario_general h2 {
      margin: 30px 0;
      font-size: 40px;
      font-size: 4rem; }
    /* line 363, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #horario #horario_general p {
      font-size: 18px;
      font-size: 1.8rem;
      margin-bottom: 30px; }
  /* line 370, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #horario #horario_especial {
    margin-top: 50px; }
    /* line 372, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #horario #horario_especial i {
      font-size: 90px;
      font-size: 9rem;
      color: #A0A0A0;
      text-align: center; }
    /* line 379, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #horario #horario_especial a {
      display: block;
      text-align: center;
      color: #372114; }
      /* line 384, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #horario #horario_especial a p {
        font-size: 18px;
        font-size: 1.8rem;
        margin-bottom: 30px; }
      /* line 389, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #horario #horario_especial a span {
        padding: 10px 15px;
        background: #372114;
        color: #FFFFFF;
        font-size: 16px;
        font-size: 1.6rem;
        border-radius: 5px;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 20px; }
      /* line 402, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #horario #horario_especial a:hover {
        text-decoration: none; }
        /* line 404, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #horario #horario_especial a:hover i {
          color: #464646; }
        /* line 407, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #horario #horario_especial a:hover span {
          background: #5c3722; }

/* line 416, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#footer {
  background: #372114;
  padding: 50px 0; }
  /* line 419, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #footer .list-left {
    float: left; }
  /* line 422, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #footer .list-right {
    float: right;
    text-align: right; }
  /* line 426, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #footer ul {
    margin: 0;
    padding: 0; }
    /* line 429, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #footer ul li {
      list-style: none; }
      /* line 431, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #footer ul li h3, #footer ul li p {
        margin: 5px 0;
        line-height: normal;
        color: #FFFFFF; }
      /* line 436, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #footer ul li a {
        color: #FFE0B5;
        text-decoration: none;
        margin: 5px 0; }
        /* line 441, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #footer ul li a i {
          margin-right: 10px; }
        /* line 446, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #footer ul li a:hover i {
          margin-right: 13px; }

/* line 455, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#google_feed {
  padding: 50px 0; }
  /* line 457, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #google_feed h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
    font-size: 4rem; }
  /* line 465, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #google_feed .google_container .kyco_googleplusfeed {
    width: 700px;
    margin: 0 auto; }
    /* line 468, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #google_feed .google_container .kyco_googleplusfeed .feed_header {
      display: block; }
      /* line 470, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #google_feed .google_container .kyco_googleplusfeed .feed_header .feed_profile_image {
        border: 3px solid #372114;
        width: 150px;
        height: 150px;
        float: none;
        margin: 0 auto; }
      /* line 477, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #google_feed .google_container .kyco_googleplusfeed .feed_header .feed_screen_name {
        font-family: "Pacifico", cursive;
        text-align: center;
        font-size: 34px;
        font-size: 3.4rem;
        margin-top: 15px; }
        /* line 483, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #google_feed .google_container .kyco_googleplusfeed .feed_header .feed_screen_name a {
          color: #372114; }
          /* line 485, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
          #google_feed .google_container .kyco_googleplusfeed .feed_header .feed_screen_name a:hover {
            text-decoration: none; }
    /* line 493, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #google_feed .google_container .kyco_googleplusfeed .feed_content {
      height: 400px; }

/* line 501, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#facebook_feed {
  padding: 50px 0; }
  /* line 503, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #facebook_feed h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
    font-size: 4rem; }

/* line 511, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#conoce_page {
  padding: 50px 0; }
  /* line 513, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #conoce_page h2 {
    color: #372114; }
  /* line 516, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #conoce_page p {
    font-size: 18px;
    font-size: 1.8rem; }
    /* line 520, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #conoce_page p a:hover {
      text-decoration: none;
      color: #372114; }
  /* line 527, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #conoce_page .container-fluid {
    padding: 0; }
  /* line 530, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #conoce_page #google_map {
    width: 100%; }
    /* line 532, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #conoce_page #google_map .overlay {
      background: transparent;
      position: relative;
      width: 100%;
      height: 450px;
      /* your iframe height */
      top: 450px;
      /* your iframe height */
      margin-top: -450px;
      /* your iframe height */ }
    /* line 540, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #conoce_page #google_map iframe {
      width: 100%; }
  /* line 545, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #conoce_page #contact_info {
    text-align: center; }

/* line 550, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#productos_page {
  padding: 50px 0; }
  /* line 552, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #productos_page h1 {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 556, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #productos_page p {
    font-size: 20px; }
  /* line 559, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #productos_page .row:first-of-type {
    margin-bottom: 30px; }
  /* line 562, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #productos_page figure {
    width: 100%; }
    /* line 564, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #productos_page figure img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }

/* line 572, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#historia_page {
  padding: 50px 0; }
  /* line 574, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #historia_page h1 {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 578, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #historia_page p {
    font-size: 20px; }
  /* line 581, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #historia_page .row:first-of-type {
    margin-bottom: 30px; }
  /* line 584, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #historia_page figure {
    width: 100%; }
    /* line 586, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #historia_page figure img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }

/* line 594, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
#instalaciones_page {
  padding: 50px 0; }
  /* line 596, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page h1 {
    margin-top: 0;
    margin-bottom: 20px; }
  /* line 600, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page p {
    font-size: 20px; }
  /* line 603, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page .row:first-of-type {
    margin-bottom: 30px; }
  /* line 606, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page figure {
    width: 100%; }
    /* line 608, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page figure img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  /* line 615, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider .bx-wrapper, #instalaciones_page #instalaciones_slider .bx-viewport {
    max-height: 500px; }
  /* line 619, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider .bx-wrapper .bx-pager {
    bottom: 20px; }
  /* line 622, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider .bx-wrapper .bx-caption {
    width: 40%;
    bottom: 90px;
    background: rgba(55, 33, 20, 0.85); }
    /* line 626, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page #instalaciones_slider .bx-wrapper .bx-caption span {
      font-family: "Pacifico", cursive;
      font-size: 25px;
      font-size: 2.5rem; }
  /* line 632, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider .bx-wrapper .bx-viewport {
    box-shadow: none;
    left: 0;
    border: 0; }
  /* line 640, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider .bx-wrapper .bx-controls .bx-pager-item a {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #FFFFFF; }
    /* line 645, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page #instalaciones_slider .bx-wrapper .bx-controls .bx-pager-item a.active {
      background: #372114; }
  /* line 652, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider ul {
    margin: 0;
    padding: 0;
    display: block; }
    /* line 656, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page #instalaciones_slider ul li {
      position: relative;
      height: 500px;
      display: block; }
      /* line 660, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
      #instalaciones_page #instalaciones_slider ul li figure {
        height: 100%; }
        /* line 662, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
        #instalaciones_page #instalaciones_slider ul li figure img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  /* line 672, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
  #instalaciones_page #instalaciones_slider #bx-pager a {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    opacity: 0.7;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    padding: 2px; }
    /* line 682, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page #instalaciones_slider #bx-pager a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2px; }
    /* line 688, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page #instalaciones_slider #bx-pager a.active {
      opacity: 1;
      border-color: #372114; }
    /* line 692, /Applications/XAMPP/xamppfiles/htdocs/panaderia/css/custom.scss */
    #instalaciones_page #instalaciones_slider #bx-pager a:hover {
      opacity: 1; }

/*# sourceMappingURL=custom.css.map */