//Variables 
$primary-color: #372114;
$primary-light-color: #573500;
$secondary-color: #FFE0B5;
$bg-color: #FFFFFF;
$bg-light: #F8F8F8;
$text-color: #000000;
$grey-dark: #616163;
$grey-light: #D2D5DD;

$font-family: 'Montserrat', sans-serif;
$font-family-2: 'Pacifico', cursive;

.trans {
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}